<div class="depot_form">
<<<<<<< HEAD
  <fieldset>
    <legend>Please Enter Your Details</legend>
    <%= render 'form' %>
  </fieldset>
</div>

=======
	<fieldset>
		<legend>Please Enter Your Details</legend>
			<%= render 'form' %>
	</fieldset>
</div>
>>>>>>> 0924e6b2a4d911eb469e16ffd3328e7eb41eebf8
