body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
<<<<<<< HEAD
  line-height: 18px;
}
=======
  line-height: 18px; }
>>>>>>> 0924e6b2a4d911eb469e16ffd3328e7eb41eebf8

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
<<<<<<< HEAD
  line-height: 18px;
}
=======
  line-height: 18px; }
>>>>>>> 0924e6b2a4d911eb469e16ffd3328e7eb41eebf8

pre {
  background-color: #eee;
  padding: 10px;
<<<<<<< HEAD
  font-size: 11px;
}
=======
  font-size: 11px; }
>>>>>>> 0924e6b2a4d911eb469e16ffd3328e7eb41eebf8

a {
  color: #000;
  &:visited {
<<<<<<< HEAD
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}
=======
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }
>>>>>>> 0924e6b2a4d911eb469e16ffd3328e7eb41eebf8

.field_with_errors {
  padding: 2px;
  background-color: red;
<<<<<<< HEAD
  display: table;
}
=======
  display: table; }
>>>>>>> 0924e6b2a4d911eb469e16ffd3328e7eb41eebf8

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
<<<<<<< HEAD
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
=======
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
>>>>>>> 0924e6b2a4d911eb469e16ffd3328e7eb41eebf8
